@using Smith_Swimming_School.ViewModels
@model CourseGroupsViewModel

@{
    ViewData["Title"] = "CourseGroups";
}

<h1>Course: @Model.Course.Title</h1>
<h2>Groups</h2>
@if (Model.courseGroupEnrollment!.Count == 0)
{
    <p>No groups for this course yet</p>
}
else
{
    @if(User.IsInRole("Administrator")){
        <a asp-action="create" asp-controller="Enrollments"
        asp-route-idCourse="@Model.Course.Id_Course"
           class="btn btn-primary">
           ➕ Add Group
        </a>
    }
    @foreach (var group in Model.courseGroupEnrollment)
    {
        @if(group.Grouping == null){
            if (User.IsInRole("Coach")){
                <p>No groups for this course yet</p>
            }else if (User.IsInRole("Swimmer"))
            {
                <p>Swimmer is not assigned to a group for this course yet</p>
            }
        }else{
            <div class="card m-2" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">Group Name: @group.Grouping!.Name</h5>
                    <p>Places: @group.Grouping.Places</p>
                    @if (User.IsInRole("Coach") || User.IsInRole("Administrator"))
                    {
                        <a asp-action="GroupSwimmers" asp-controller="Groups"
                           asp-route-idCourse="@Model.Course.Id_Course"
                           asp-route-idGroup="@group.Id_Grouping"
                           class="btn btn-info">
                            Check Swimmers
                        </a>
                    }
                    else if (User.IsInRole("Swimmer"))
                    {
                        <a asp-action="SwimmerReports" asp-controller="Reports"
                           asp-route-id="@group.Id_Enrollment"
                           class="btn btn-info">
                            Check Reports
                        </a>
                    }
                </div>
            </div>
        }
    }
    @if(User.IsInRole("Administrator")){
        <a asp-action="Index" asp-controller="Courses" class="btn btn-dark">Back to Courses List</a>
    }else if(User.IsInRole("Coach")){
        <a asp-action="CoachAdmin" asp-controller="Coaches" class="btn btn-dark">Return To Coach Panel</a>
    }else if(User.IsInRole("Swimmer")){
        <a asp-action="Home" asp-controller="Swimmers" class="btn btn-dark">Back to Swimmer Panel</a>
    }
}

