@model IEnumerable<Smith_Swimming_School.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">➕ Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Swimmer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grouping)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Swimmer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grouping.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Enrollment" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Enrollment" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Enrollment" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
