@model Smith_Swimming_School.Models.Coach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoachUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoachUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Coach" class="btn btn-warning">Edit</a> |
    @if(User.IsInRole("Coach")){
        <a asp-action="CoachAdmin" class="m-1 btn btn-dark">Back Coach Panel</a>
    }else if(User.IsInRole("Administrator")){
        <a asp-action="Index" class="m-1 btn btn-dark">Back to List</a>
    }
</div>
