@using EcommerceBasicoAWS.ViewModels
@using EcommerceBasicoAWS.Enums;
@model ProductosViewModel

<h1>Listado de Productos</h1>

<a asp-action="AddProducto" class="btn btn-primary mb-2">Crear Producto</a>
<form asp-action="Index" id="filtroForm" class="card p-4 mb-4">
    <input type="hidden" asp-for="@Model.SearchTypes" id="searchType" />
    <div class="row mb-2">
        <div class="col input-group">
            <label asp-for="@Model.Filters.Nombre"></label>
            <input asp-for="@Model.Filters.Nombre" class="form-control filtro-input" />
        </div>
        <div class="col input-group">
            <label asp-for="@Model.Filters.Stock"></label>
            <input asp-for="@Model.Filters.Stock" class="form-control filtro-input" />
        </div>
        <div class="col input-group">
            <label asp-for="@Model.Filters.Precio"></label>
            <input asp-for="@Model.Filters.Precio" class="form-control filtro-input" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col input-group">
            <label asp-for="@Model.Filters.FechaActualizacion"></label>
            <input asp-for="@Model.Filters.FechaActualizacion" class="form-control filtro-input" />
        </div>
        <div class="col input-group">
            <label asp-for="@Model.Filters.FechaCreacion"></label>
            <input asp-for="@Model.Filters.FechaCreacion" class="form-control filtro-input" />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6 input-group">
            <label asp-for="@Model.ResultsPerPage" class="form-label">Resultados por Pagina</label>
            <select asp-for="@Model.ResultsPerPage" class="form-control">
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    <div class="input-group">
        <button type="button" class="btn btn-info" onclick="searchQuery()">Buscar</button>
        @if (Model.SearchTypes == SearchTypes.Search)
        {
            <button type="button" class="btn btn-secondary" onclick="limpiarFiltros()">Limpiar</button>
        }
    </div>
</form>
@if (Model.Productos!.Count() > 0)
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        @foreach (Producto producto in Model.Productos!)
        {
            MultimediaProducto multimediaProducto = Model.ProductosMainImages.SingleOrDefault(i => i.IdProducto == producto.IdProducto);

            <div class="col">
                <div class="card h-100">
                    @if (multimediaProducto != null)
                    {
                        <div class="card-img-top">
                            <img src="@multimediaProducto.Url" alt="@multimediaProducto.NombreArchivo" class="img-fluid object-fit-cover" style="height: 200px;">
                        </div>
                    }
                    <div class="card-header">
                        <h5 class="card-title">@producto.Nombre</h5>
                        <p class="text-end">@producto.Precio €</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Stock: @producto.Stock</p>
                        <p class="card-text"><small class="text-muted">Fecha Creacion: @producto.FechaCreacion.ToShortDateString()</small></p>
                        <p class="card-text"><small class="text-muted">Fecha Actualizacion: @producto.FechaActualizacion.ToShortDateString()</small></p>
                    </div>
                </div>
            </div>
        }
    </div>

    @if(Model.TotalResults > 0){
        int totalPages = (int)Math.Ceiling((double)Model.TotalResults / Model.ResultsPerPage);
        <nav>
            <ul class="pagination">
                <li class="page-item @(Model.CurrentPage == 0 ? "disabled" : "" )">
                    <a asp-action="Index" asp-route-CurrentPage="@(Model.CurrentPage - 1)" class="page-link">Previous</a>
                </li>
                @for (int pageNumber = 0; pageNumber < totalPages; pageNumber++)
                {
                    <li class="page-item @(Model.CurrentPage == pageNumber + 1 ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-CurrentPage="@(pageNumber + 1)" aria-current="page">@(pageNumber + 1)</a>
                    </li>
                }
                <li class="page-item @(Model.CurrentPage == totalPages ? "disabled" : "" )">
                    <a class="page-link" asp-action="Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)">Next</a>
                </li>
            </ul>
        </nav>
    }
}

<script>
    function searchQuery() {
        document.getElementById('searchType').value = @((int)SearchTypes.Search)
        document.getElementById('filtroForm').submit();
    }

    function limpiarFiltros() {
        const inputs = document.querySelectorAll('.filtro-input');
        inputs.forEach(input => input.value = '');
        document.getElementById('searchType').value = @((int)SearchTypes.List)
        document.getElementById('filtroForm').submit();
    }
</script>                  